<% content_for :title do %>Pageviews Stream Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pageviews" data-view="List" data-title="pageviews stream data" data-moreinfo="# of calls per url"/>
    </li>
  </ul>
</div>
